@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>   
</div>

<div class="container" id="movies-img">
    <img src="/img/WhenHarryMetSally.jpg">
    <img src="/img/Ghostbusters.jpg">
    <img src="/img/Ghostbusters2.jpg">
    <img src="/img/RioBravo.jpg">
</div>
